/* src/Components/Fields/Input/Input.css */
.inputText {
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.2em;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-weight: 300;
  color: #000000;
  background-color: #fff;
  padding: 0.5em;
  border-radius: 0.25em;
  box-shadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.1);
}
.inputText::placeholder {
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.5);
}
.inputLabel {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
.fieldContainter {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* src/Components/Fields/Select/Select.css */
.inputLabel {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
.selectInput {
  position: relative;
  width: 100%;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
.selectInput svg {
  position: absolute;
  right: 12px;
  top: calc(60%);
  width: 10px;
  height: 6px;
  stroke-width: 2px;
  stroke: #9098a9;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  pointer-events: none;
}
.selectInput select {
  -webkit-appearance: none;
  padding: 7px 40px 7px 12px;
  width: 100%;
  border: 1px solid #e8eaed;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 1px 3px -2px #9098a9;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  transition: all 150ms ease;
}
.selectInput select:required:invalid {
  color: #5a667f;
}
.selectInput select option {
  color: #223254;
}
.selectInput select option[value=""][disabled] {
  display: none;
}
.selectInput select:focus {
  outline: none;
  border-color: #07f;
  box-shadow: 0 0 0 2px rgba(0, 119, 255, 0.2);
}
.selectInput select:hover + svg {
  stroke: #07f;
}

/* src/Components/Form/Form.css */
.formTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
.sendButton {
  background-color: aliceblue;
  color: gray;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  width: 10em;
  height: 3em;
  border: 0;
  border-radius: 2em;
  cursor: pointer;
  font-weight: bold;
}
.sendButton:hover {
  background-color: azure;
}
.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 0.5em;
  box-shadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.1);
  padding-bottom: 2em;
}
/*# sourceMappingURL=script.css.map */
